<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: cron
Vendor: slothsoft
Farah ID: farah://slothsoft@cron
Composer ID: slothsoft/cron

Homepage: http://farah.slothsoft.net/modules/cron
Packagist: https://packagist.org/packages/slothsoft/cron
GitHub: https://github.com/Faulo/slothsoft-cron

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <directory name="static">
      <resource name="update-files" path="update-files.xml" type="application/xml"/>
      <resource name="update-comics" path="update-comics.xml" type="application/xml"/>
      <resource name="update-hentai" path="update-hentai.xml" type="application/xml"/>
      <resource name="update-youtube" path="update-youtube.xml" type="application/xml"/>
    </directory>
  </assets>
</module>
